@tailwind base;
@tailwind components;
@tailwind utilities;

.react-flow__pane {
  background: radial-gradient(circle at 50% 50%, #0b0f19 0%, #030712 100%);
}

.react-flow__edge-path {
  stroke-dasharray: 5;
  animation: dash 20s linear infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 100;
  }
  to {
    stroke-dashoffset: 0;
  }
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #030712;
}
::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #06b6d4;
}
